<footer class="footer">
  <small>
    <a href="http://confideapp.com">CONFIDE</a>
    by <a href="http://seanmeverett.com">Sean M Everett</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://twitter.com/confideapp">Twitter</a></li>
    </ul>
  </nav>
</footer>